@model MyStage2.ViewModels.AnnounsmentsVm

<link rel="stylesheet" media="screen" href="css/EditAnnounsment.css">

<div class="modal fade  bd-example-modal-lg " id="editAnnounsment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  bd-example-modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditOrAddAnnounsmentLabel">Объявление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="UpdateAnnounsment" class="editAnnounsmentForm " asp-action="UpdateAnnounsment" name="UpdateAnnounsment" style="text-align: left">


                <div class="modal-body">

                    <ul>

                        <li style="height: 1px">
                            <input asp-for="Announsment.Id" style="visibility: hidden" class="form-control"/>
                        </li>
                        <li>
                            <label class="control-label">Номер</label>
                            <input asp-for="Announsment.Number" class="form-control"/>
                            <span asp-validation-for="Announsment.Number" class="text-danger"></span>
                        </li>
                        <li>
                            <label class="control-label">Создано</label>
                            <input asp-for="Announsment.CreateDate" class="form-control"/>
                            <span asp-validation-for="Announsment.CreateDate" class="text-danger"></span>
                        </li>
                        <li>
                            <label class="control-label">Пользователь</label>

                            <select asp-for="SelectedUserId" asp-items="Model.Users"></select>

                            <span asp-validation-for="Users" class="text-danger"></span>

                        </li>

                        <li>
                        <label class="control-label" style="width: 80px">Текст</label>
                        <textarea asp-for="Announsment.TextAnnounsment" rows="10" required></textarea>
                        <span asp-validation-for="Announsment.TextAnnounsment" class="text-danger"></span>
                        <li/>

                        <li>
                            <div class="row">
                                <label class="control-label">Рейтинг</label>
                                <input asp-for="Announsment.Rating" style="width: 50px"/>
                                <span class="text-danger" asp-validation-for="Announsment.Rating"></span>

                                <label>от 1 до 10</label>
                            </div>
                        </li>

                    </ul>


                </div>

                <div class="modal-footer" style="display: block; margin: 50px;">
                    <button class="btn" data-dismiss="modal" style="float: left" onclick="removeAnnounsment(@Model.Announsment.Id);">Удалить</button>
                    <button class="btn" data-dismiss="modal" style="float: right">Отменить</button>
                    <button class="btn" style="float: right" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>

    <script src="js/jquery.form.min.js"></script>
    <script src="js/EditAnnounsment.js"></script>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

