@model MyStage2.ViewModels.EditAnnounsmentVm

<link rel="stylesheet" media="screen" href="css/styles.css">
<div class="modal fade  bd-example-modal-lg " id="editAnnounsment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  bd-example-modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditOrAddAnnounsmentLabel">Объявление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="UpdateAnnounsment" class="editAnnounsmentForm " asp-action="UpdateAnnounsment" name="UpdateAnnounsment" style="text-align: left">


                <div class="modal-body">

                    <ul>

                        <li style="height: 1px">
                            <input asp-for="Announsment.Id" style="visibility: hidden" class="form-control" />
                        </li>
                        <li>
                            <label class="control-label">Номер</label>
                            <input asp-for="Announsment.Number" class="form-control" />
                            <span asp-validation-for="Announsment.Number" class="text-danger"></span>
                        </li>
                        <li>
                            <label class="control-label">Создано</label>
                            <input asp-for="Announsment.CreateDate" class="form-control" />
                            <span asp-validation-for="Announsment.CreateDate" class="text-danger"></span>
                        </li>
                        <li>
                            <label class="control-label">Пользователь</label>

                            <select asp-for="SelectedUserId" asp-items="Model.Users"></select>

                            <span asp-validation-for="Users" class="text-danger"></span>

                        </li>

                        <li>
                            <label class="control-label" style="width: 80px">Текст</label>
                            <textarea asp-for="Announsment.TextAnnounsment" rows="10" required></textarea>
                            <span asp-validation-for="Announsment.TextAnnounsment" class="text-danger"></span>
                        <li />

                        <li>
                            <div class="row">
                                <label class="control-label">Рейтинг</label>
                                <input asp-for="Announsment.Rating" style="width: 50px" />
                                <span class="text-danger" asp-validation-for="Announsment.Rating"></span>

                                <label>от 1 до 10</label>
                            </div>
                        </li>

                    </ul>


                </div>

                <div class="modal-footer" style="display: block; margin: 50px;" >
                    <button class="btn" data-dismiss="modal" style="float: left" onclick="removeAnnounsment(@Model.Announsment.Id);">Удалить</button>
                    <button class="btn" data-dismiss="modal" style="float: right">Отменить</button>
                    <button class="btn" style="float: right" type="submit">Сохранить</button>
                </div>
            </form>


        </div>

    </div>

    <script src="js/jquery.form.min.js"></script>

    <script>


        $(document).ready(function () {

            document.getElementById("UpdateAnnounsment").addEventListener('submit',
                function (e) {
                    e.preventDefault();
                    sumbitForm();
                });

        });


        function sumbitForm() {
            $('#UpdateAnnounsment').ajaxSubmit({
                success: () => {
                    toastr.success('Запись успешно сохранена', "Успех");
                    modalHide();
                },
                error: () => {
                    toastr.error('Внутреняя ошибка', "Ошибка");
                    modalHide();
                }
            });

        }

        function modalHide() {
            var placeholderElement = $('#modal-placeholder');

            placeholderElement.find('.modal').modal('hide');
        }

        function removeAnnounsment(id) {

            if (confirm(" Удалить записи  ")) {

                $.ajax({
                    url: "/Announsments/Delete",
                    type: "POST",
                    data: { ids: id },
                    success: () => { toastr.success('Запись успешно удалена', "Успех"); },
                    error: () => { toastr.error('Внутреняя ошибка', "Ошибка"); }

                });
                $('#table').bootstrapTable('remove', { field: 'id', values: id });
                $('#table').bootstrapTable('refresh',
                    {
                        url: '/Announsments/GetAnnounsmentsJson'
                    });
            }

        }

    </script>
</div>


<style>

    .modal-footer button {
        margin-right: 20px;
        color: #4200be;
        border-color: #4200be;
        border-radius: 50px;
        width: 150px;
        font-weight: 500;
    }

    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }

    .editAnnounsmentForm {
        color: black;
        margin-left: 5%;
        font-size: 14px;
        font-weight: 400;
    }

        .editAnnounsmentForm label {
            width: 150px;
            margin-top: 3px;
            display: inline-block;
            float: left;
            padding: 3px;
            color: black;
            font-size: 14px;
            font-weight: 500;
        }


    .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
        color: #4200be;
        font-size: 30px;
    }

    .editAnnounsmentForm input, .editAnnounsmentForm select {
        border: 1px solid #4200be;
        border-radius: 5px;
        width: 200px;
        padding: 6px;
        text-align: left;
        box-shadow: none;
    }

    .editAnnounsmentForm textarea {
        width: 80%;
        padding: 5px;
    }

    .editAnnounsmentForm li {
        padding: 7px;
        list-style: none;
        margin-top: 2px;
    }


    .editAnnounsmentForm input:required:valid, .editAnnounsmentForm textarea:required:valid {
        background: #fff;
        box-shadow: 0 0 1px black;
        border-color: black;
    }
</style>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

