@model MyStage2.ViewModels.EditAnnounsmentVm

<link rel="stylesheet" media="screen" href="css/styles.css">
<div class="modal fade  bd-example-modal-lg " id="editAnnounsment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  bd-example-modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditOrAddAnnounsmentLabel"> Добавить объявление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <div class="modal-body">

                <form id="AddAnnounsmentForm" class="AddAnnounsmentForm " asp-action="AddAnnounsment" name="AddAnnounsment" style="text-align: left">
                    <ul>

                        <li style="height: 1px">
                            <input asp-for="Announsment.Id" style="visibility: collapse" class="form-control" />
                        </li>
                        <li>
                            <label class="control-label">Номер</label>
                            <input asp-for="Announsment.Number" class="form-control" />
                            <span asp-validation-for="Announsment.Number" class="text-danger"></span>
                        </li>
                        <li>
                            <label class="control-label">Создано</label>
                            <input asp-for="Announsment.CreateDate" class="form-control" />
                            <span asp-validation-for="Announsment.CreateDate" class="text-danger"></span>
                        </li>
                        <li>
                            <label class="control-label">Пользователь</label>

                            <select asp-for="SelectedUserId" asp-items="Model.Users"></select>

                            <span asp-validation-for="Users" class="text-danger"></span>

                        </li>

                        <li>
                            <label class="control-label" style="width: 70px">Текст</label>
                            <textarea asp-for="Announsment.TextAnnounsment" rows="10" required></textarea>
                            <span asp-validation-for="Announsment.TextAnnounsment" class="text-danger"></span>
                        <li />

                        <li>
                            <div class="row">
                                <label class="control-label">Рейтинг</label>
                                <input asp-for="Announsment.Rating" style="width: 50px" />

                                <label>от 1 до 10</label>
                            </div>
                        </li>

                    </ul>

                </form>

            </div>

            <div class="modal-footer" style="display: block">
                <button class="btn " data-dismiss="modal" style="float: right">Отменить</button>
                <button type="submit" class="btn" data-save="modal" style="float: right" onclick="sumbitForm()">Добавить</button>
            </div>


        </div>

    </div>

</div>
<script src="js/jquery.form.min.js"></script>
<script>

    function sumbitForm() {
        $('#AddAnnounsmentForm').ajaxSubmit({
            success: () => {
                toastr.success('Запись успешно сохранена', "Успех");
                modalHide();
            },
            error: () => {
                toastr.error('Внутреняя ошибка', "Ошибка");
                modalHide();
            }
        });


        function modalHide() {
            var placeholderElement = $('#modal-placeholder');

            placeholderElement.find('.modal').modal('hide');
        }

    }

</script>



<style>

    .modal-footer button {
        margin-right: 20px;
        color: #4200be;
        border-color: #4200be;
        border-radius: 50px;
        width: 150px;
        font-weight: 500;
    }

    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }

    .AddAnnounsmentForm {
        color: black;
        margin-left: 5%;
        font-size: 14px;
        font-weight: 400;
    }

    .AddAnnounsmentForm label {
        width: 150px;
        margin-top: 3px;
        display: inline-block;
        float: left;
        padding: 3px;
        color: black;
        font-size: 16px;
        font-weight: 500;
    }

    .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
        color: #4200be;
        font-size: 30px;
    }

    .AddAnnounsmentForm input, .AddAnnounsmentForm select {
        border: 1px solid #4200be;
        border-radius: 5px;
        width: 200px;
        padding: 6px;
        text-align: left;
        box-shadow: none;
    }

    .AddAnnounsmentForm textarea {
        width: 80%;
    }

    .AddAnnounsmentForm li {
        padding: 7px;
        list-style: none;
    }


    .AddAnnounsmentForm input:required:valid, .AddAnnounsmentForm textarea:required:valid {
        background: #fff;
        box-shadow: 0 0 1px blue;
        border-color: blue;
    }
</style>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

