@model MyStage2.ViewModels.AnnounsmentsVm
<link rel="stylesheet" href="css/AddAnnounsment.css">


<div class="modal fade  bd-example-modal-lg " id="editAnnounsment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  bd-example-modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditOrAddAnnounsmentLabel"> Добавить объявление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="AddAnnounsmentForm" class="AddAnnounsmentForm " asp-action="AddAnnounsment" name="AddAnnounsment" style="text-align: left">

                <div class="modal-body">


                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <ul>

                        <li style="height: 1px">
                            <input asp-for="Announsment.Id" style="visibility: collapse" class="form-control"/>
                        </li>
                        <li>
                            <label class="control-label">Номер</label>
                            <input asp-for="Announsment.Number" name="number" class="form-control" min="1" required="required"/>
                            <span asp-validation-for="Announsment.Number" class="text-danger"></span>
                        </li>
                        <li>
                            <label class="control-label">Создано</label>
                            <input asp-for="Announsment.CreateDate" class="form-control" required="required"/>
                            <span asp-validation-for="Announsment.CreateDate" class="text-danger"></span>
                        </li>
                        <li>
                            <label class="control-label">Пользователь</label>

                            <select asp-for="SelectedUserId" asp-items="Model.Users"></select>

                            <span asp-validation-for="Users" class="text-danger"></span>

                        </li>

                        <li>
                        <label class="control-label" style="width: 70px">Текст</label>
                        <textarea class="re" asp-for="Announsment.TextAnnounsment" rows="10" required="required" data-val="true"></textarea>

                        <span asp-validation-for="Announsment.TextAnnounsment" class="text-danger"></span>
                        <li/>

                        <li>
                            <div class="row">
                                <label class="control-label">Рейтинг</label>
                                <input asp-for="Announsment.Rating" type="number" value="1" min="1" max="10" style="width: 50px"/>

                                <label>от 1 до 10</label>
                            </div>
                        </li>

                    </ul>


                </div>

                <div class="modal-footer" style="display: block; margin: 50px">
                    <button class="btn " data-dismiss="modal" style="float: right">Отменить</button>
                    <button type="submit" class="btn" data-save="modal" style="float: right">Добавить</button>
                </div>
            </form>
        </div>
    </div>

</div>
<script src="js/jquery.form.min.js"></script>
<script src="js/AddAnnounsment.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

