@model MyStage2.ViewModels.EditAnnounsmentVm

<link rel="stylesheet" media="screen" href="css/styles.css">
<div class="modal fade  bd-example-modal-lg " id="editAnnounsment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  bd-example-modal-lg " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditOrAddAnnounsmentLabel"> Добавить объявление</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="AddAnnounsment" class="AddAnnounsment " asp-action="AddAnnounsment" name="AddAnnounsment" style="text-align: left">
                    <ul>

                        <li>
                            <input asp-for="Announsment.Id" style="visibility: hidden" class="form-control" />
                        </li>
                        <li>
                            <label class="control-label">Номер</label>
                            <input asp-for="Announsment.Number" class="form-control" />
                            <span asp-validation-for="Announsment.Number" class="text-danger"></span>
                        </li>
                        <li>
                            <label class="control-label">Создано</label>
                            <input asp-for="Announsment.CreateDate" class="form-control" />
                            <span asp-validation-for="Announsment.CreateDate" class="text-danger"></span>
                        </li>
                        <li>
                            <label class="control-label">Пользователь</label>

                            <select asp-for="SelectedUserId" asp-items="Model.Users"></select>

                            <span asp-validation-for="Users" class="text-danger"></span>

                        </li>

                        <li>
                            <label class="control-label">Текст</label>
                            <textarea asp-for="Announsment.TextAnnounsment" rows="10" required></textarea>
                            <span asp-validation-for="Announsment.TextAnnounsment" class="text-danger"></span>
                        <li />

                        <li>
                            <div class="row">
                                <label class="control-label">Рейтинг</label>
                                <input asp-for="Announsment.Rating" style="width: 50px" />

                                <label>от 1 до 10</label>
                            </div>
                        </li>

                    </ul>

                </form>

            </div>

            <div class="modal-footer" style="display: block">
                <button class="btn btn-secondary" data-dismiss="modal" style="float: right">Отменить</button>
                <button type="submit" class="btn btn-primary" data-save="modal" style="float: right" onclick="$('#AddAnnounsment').submit();">Добавить</button>
            </div>


        </div>

    </div>


    <script>

        function removeAnnounsment(id) {

            if (confirm(" Удалить записи  ")) {

                $.ajax({
                    url: "/Announsments/Delete",
                    type: "POST",
                    data: { ids: id }

                });
                $('#table').bootstrapTable('remove', { field: 'id', values: id });
                $('#table').bootstrapTable('refresh',
                    {
                        url: '/Announsments/GetAnnounsmentsJson'
                    });
            }

        }
    </script>
</div>

<style>

    .editAnnounsmentForm {
        color: black;
        margin-left: 5%;
        font-size: 16px;
        font-weight: 600;
    }

    #EditOrAddAnnounsmentLabel {
        color: #4200be;
        font-size: 35px;
    }

    .editAnnounsmentForm input, .editAnnounsmentForm select {
        border: 2px solid blue;
        border-radius: 5px;
        width: 200px;
        padding: 6px;
        text-align: left;
        box-shadow: none;
    }

    .editAnnounsmentForm textarea {
        width: 60%;
    }

    .editAnnounsmentForm li {
        padding: 7px;
    }


    .editAnnounsmentForm input:required:valid, .editAnnounsmentForm textarea:required:valid {
        background: #fff;
        box-shadow: 0 0 1px blue;
        border-color: blue;
    }
</style>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

