@model MyStage2.ViewModels.AnnounsmentsVM
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="widsth=device-widsth, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">

</head>
<body>
<div class="container">

    <div class="container row">
        <select id="listUsers" asp-items="Model.Users" onchange="filter()">
            <option>Все</option>
        </select>
        <input type="date" id="fromDate" onchange="filter()" />
        <input type="date" id="toDate" onchange="filter()" />
        <input type="search" id="searchBox" onkeyup="filter()" />
    </div>

    <table id="table"
           data-toggle="table"
           data-locale="ru-RU"
           data-pagination="true"
           data-show-columns-toggle-all="true"
           data-url="/Announsments/GetAnnounsmentsJson"
           data-checkbox-header="true"
           data-height="600">

        <thead>
        <tr>
            <th data-checkbox="true"></th>
            <th data-sortable="true" data-field="id" >ID</th>
            <th checkbox="true" data-sortable="true" data-field="number">Номер</th>
            <th data-sortable="true"  data-field="createDate">Создано</th>
            <th data-sortable="true" data-field="textAnnounsment">Объявление</th>
            <th data-sortable="true" data-field="rating">Рейтинг</th>
            <th data-sortable="true" data-field="userName">Пользователь</th>
        </tr>
        </thead>

    </table>

    <div id="removeButtonDiv" on>
        <button class="btn btn-primary d-block ml-auto" style="margin: 10px" onclick="removeAnnounsments()">Удалить</button>
    </div>

    <div>
        <button onclick="setCountRowsOnPage(10)">10</button>
        <button onclick="setCountRowsOnPage(50)">50</button>
        <button onclick="setCountRowsOnPage(100)">100</button>
    </div>
</div>



<!-- Modal placeholder -->
<div id="modal-placeholder"  ></div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/popper.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="~/lib/bootstrap-table.js"></script>
<script src="~/lib/bootstrap-table-ru-RU.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script>

   
    $(document).ready(function () {

        $("#modal-placeholder").on("hidden.bs.modal", function () {
            filter();
        });

        $('.fixed-table-pagination').before($('#removeButtonDiv'));

        $('#removeButtonDiv').hide();

        $('#table').on("check.bs.table check-all.bs.table ",
            function () {

                $('#removeButtonDiv').show();
            });


        $('#table').on("uncheck.bs.table uncheck-all.bs.table",
            function () {
                $('#removeButtonDiv').hide();
            });

        $('#table').on("dbl-click-row.bs.table",
            function (row, $element) {
                showModalEdit($element.id);
            });
    });


    function showModalEdit(announsmentId) {
        var placeholderElement = $('#modal-placeholder');


        $.ajax('/Announsments/Edit/'+announsmentId).done(function(data) {
            placeholderElement.html(data);
            placeholderElement.find('.modal').modal('show');
        });
    }


    function filter() {
        var searchString = $('#searchBox').val();
        var fromDate = $('#fromDate').val();
        var toDate = $('#toDate').val();
        var selectedUserId = $('#listUsers').val();

        var url = '/Announsments/GetAnnounsmentsJson?searchString=' + searchString +
            '&' +
            'fromDate=' +
            fromDate +
            '&' +
            'toDate=' +
            toDate +
            '&' +
            'selectedUserId=' +
            selectedUserId;


        $('#table').bootstrapTable('refresh',
            {
                url: url
            });
    }


    function setCountRowsOnPage(count) {
        $('#table').bootstrapTable('refresh',
            {
                pageSize: count
            });
    }


    function removeAnnounsments() {

        var selectedRows = $('#table').bootstrapTable('getSelections');

        var ids = selectedRows.map(function (row) {
            return row.id;
        });

        if (confirm(" Удалить записи  " + ids.length)) {

            $.ajax({
                url: "/Announsments/Delete",
                type: "POST",
                data: { ids: ids },
                success: $('#table').bootstrapTable('remove', { field: 'id', values: ids })
            });
        }
    }

</script>
</body>
</html>

<style>
    .modal-dialog {
        max-width: 60%;
    }
</style>