@model MyStage2.ViewModels.AnnounsmentsVm
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="widsth=device-widsth, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-table.css">
    <link rel="stylesheet" type="text/css" href="css/toastr.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/Index.css"/>

</head>

<body>

<div class="container">
    <table id="table"
           class="table "
           data-toggle="table"
           data-locale="ru-RU"
           data-pagination="true"
           data-show-columns-toggle-all="true"
           data-url="/Announsments/GetAnnounsmentsJson"
           data-checkbox-header="true"
           data-height="450"
           data-virtual-scroll="true"
           data-show-header="true"
           data-click-to-select="true">


        <thead style="background-color: #4200be;">


        <div id="searchDiv">
            <button onclick="showModalAdd();" class="searchControl" style="background: white; width: 130px; border-radius: 50px;">Добавить</button>
            <label>Пользователь</label>
            <select class="searchControl" id="listUsers" asp-items="Model.Users" onchange="filter()" style="border-radius: 5px;">
                <option>Все</option>
            </select>
            <label>От</label>
            <input class="searchControl" type="date" id="fromDate" onchange="filter()" style="border-radius: 5px;"/>
            <i class="fas fa-calendar searchControl"></i>
            <label>До</label>
            <input class="searchControl" type="date" id="toDate" onchange="filter()" style="border-radius: 5px;"/>

            <input class="searchControl" type="search" id="searchBox" oninput="filter()" placeholder="Общий поиск" style="border-radius: 5px;"/>
        </div>


        <tr>
            <th data-checkbox="true"></th>
            <th data-sortable="true" data-field="id" data-visible="false">ID</th>
            <th data-sortable="true" data-field="number" data-width="100" data-width-unit="px">Номер</th>
            <th data-sortable="true" data-field="createDate" data-width="15" data-width-unit="%">Создано</th>
            <th data-sortable="true" data-field="textAnnounsment" data-width="40" data-width-unit="%">Объявление</th>
            <th data-sortable="true" data-field="rating" data-width="100">Рейтинг</th>
            <th data-sortable="true" data-field="userName" data-width="200">Пользователь</th>
        </tr>

        </thead>


    </table>


    <div id="setCountOfRowsButtonsDiv">
        <label>Количество строк на таблице</label>
        <button class="setCountOnPageButton" onclick="setCountRowsOnPage(this, 10)">10</button>
        <button class="setCountOnPageButton" onclick="setCountRowsOnPage(this, 50)">50</button>
        <button class="setCountOnPageButton" onclick="setCountRowsOnPage(this, 100)">100</button>
    </div>

    <div id="removeButtonDiv">
        <button id="removeButton" class="btn btn-primary d-block ml-auto" onclick="removeAnnounsments()">Удалить</button>
    </div>

</div>

<!-- Modal placeholder -->
<div id="modal-placeholder"></div>


<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap-table.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/toastr.min.js"></script>
<script src="js/Index.js"></script>


</body>
</html>

