.modal-footer button {
     border-color: #4200be;
     border-radius: 50px;
     color: #4200be;
     font-weight: 500;
     margin-right: 20px;
     width: 150px;
 }

.modal-dialog {
    margin: 1.75rem auto;
    max-width: 600px;
}

.AddAnnounsmentForm {
    color: black;
    font-size: 14px;
    font-weight: 400;
    margin-left: 5%;
}

.AddAnnounsmentForm label {
    color: black;
    display: inline-block;
    float: left;
    font-size: 16px;
    font-weight: 500;
    margin-top: 3px;
    padding: 3px;
    width: 150px;
}

.modal-title {
    color: #4200be;
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 0;
}

.AddAnnounsmentForm input, .AddAnnounsmentForm select {
    border: 1px solid #4200be;
    border-radius: 5px;
    box-shadow: none;
    padding: 6px;
    text-align: left;
    width: 200px;
}

.AddAnnounsmentForm textarea {
    width: 80%;
}

.AddAnnounsmentForm li {
    list-style: none;
    padding: 7px;
}


.AddAnnounsmentForm input:required:valid, .AddAnnounsmentForm textarea:required:valid {
    background: #fff;
    border-color: blue;
    box-shadow: 0 0 1px blue;
}
