
.modal-footer button {
    margin-right: 20px;
    color: #4200be;
    border-color: #4200be;
    border-radius: 50px;
    width: 150px;
    font-weight: 500;
}
.modal-footer {
    display: flex;
}
.modal-dialog {
    max-width: 650px;
    margin: 1.75rem auto;
}

.editAnnounsmentForm {
    color: black;
    margin-left: 5%;
    font-size: 14px;
    font-weight: 400;
}

    .editAnnounsmentForm label {
        width: 150px;
        margin-top: 3px;
        display: inline-block;
        float: left;
        padding: 3px;
        color: black;
        font-size: 14px;
        font-weight: 500;
    }


.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: #4200be;
    font-size: 30px;
}

.editAnnounsmentForm input, .editAnnounsmentForm select {
    border: 1px solid #4200be;
    border-radius: 5px;
    width: 200px;
    padding: 6px;
    text-align: left;
    box-shadow: none;
}

.editAnnounsmentForm textarea {
    width: 80%;
    padding: 5px;
}

.editAnnounsmentForm li {
    padding: 7px;
    list-style: none;
    margin-top: 2px;
}


.editAnnounsmentForm input:required:valid, .editAnnounsmentForm textarea:required:valid {
    background: #fff;
    box-shadow: 0 0 1px black;
    border-color: black;
}

