/* === Remove input autofocus webkit === */
*:focus {
	outline: none;
}


/* === List Styles === */
.editAnnounsmentForm ul {
	width: 100%;
	list-style-type: none;
	list-style-position: outside;
	margin: 0px;
	padding: 0px;
}

.editAnnounsmentForm li {
	padding: 12px;
	position: relative;
}


.required_notification {
	color: #d45252;
	margin: 5px 0 0 0;
	display: inline;
	float: right;
}

/* === Form Elements === */
.editAnnounsmentForm label {
	width: 150px;
	margin-top: 3px;
	display: inline-block;
	float: left;
	padding: 3px;
    color: #4200be;
}





	.editAnnounsmentForm input:focus:invalid, .editAnnounsmentForm textarea:focus:invalid {
		background: #fff ;
		box-shadow: 0 0 5px #d45252;
		border-color: #b03535
	}

/* === Form hints === */
.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left: 8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}

	.form_hint::before {
		content: "\25C0";
		color: #d45252;
		position: absolute;
		top: 1px;
		left: -6px;
	}

.editAnnounsmentForm input:focus + .form_hint {
	display: inline;
}

.editAnnounsmentForm input:required:valid + .form_hint {
	background: #28921f;
}

